* {
  margin: 0;
  padding: 0; }

body {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color: #333333; }

header {
  display: block; }

nav {
  display: block; }

footer {
  display: block; }

ul {
  list-style: disc inside;
  padding-left: 10px; }

ol {
  list-style: decimal inside;
  padding-left: 10px; }

li {
  list-style-position: outside; }

a {
  outline: none;
  text-decoration: none; }
  a img {
    border: none;
    background: none; }

img {
  vertical-align: middle; }

table {
  border-collapse: collapse; }

textarea {
  resize: none; }

input:focus, textarea:focus {
  outline: none; }

.clear {
  clear: both; }

.clear_n_space {
  clear: both;
  height: 20px; }

.float_right {
  float: right; }

.float_left {
  float: left; }

.hidden {
  display: none; }

.bold {
  font-weight: bold; }

.unbold {
  font-weight: normal; }

.italic {
  font-style: italic; }

.unitalic {
  font-style: normal; }

.spacer {
  height: 30px; }

p, li {
  font-size: 12px;
  line-height: 14px;
  margin: 0 0 10px 0; }

a {
  color: #f68a00;
  font-size: 12px; }
  a:visited {
    color: #f68a00; }
  a:hover {
    text-decoration: underline; }

h1 {
  font-size: 45px;
  padding: 100px 0 5px 0;
  letter-spacing: 2px; }

h2 {
  font-size: 15px;
  margin: -4px 0 5px 0;
  font-weight: normal; }

h3 {
  font-size: 18px;
  margin: 40px 0 0 0; }

.emphasis {
  color: #f68a00; }

body {
  font-size: 62.5%;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color: #333333; }

hr {
  background: #e0e0e0;
  height: 5px;
  border: none;
  margin: 0 0 30px 0; }
  hr.subheader {
    background: #e0e0e0;
    height: 3px;
    border: none;
    margin: 0 0 10px 0;
    width: 60%; }

#pagewrap {
  width: 970px;
  margin: auto;
  position: relative; }

nav {
  float: right;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 0.5px; }

#flash_notice {
  font-size: 12px;
  padding: 7px 7px 5px 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #f68a00;
  background: #fde8cc;
  margin: 0 0 10px 0; }

#errorExplanation {
  border-width: 1px;
  border-style: solid;
  border-color: #f68a00;
  background: #fde8cc;
  padding: 15px 15px 5px 15px;
  margin-bottom: 20px; }
  #errorExplanation h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
    letter-spacing: 0.5px;
    text-transform: uppercase; }
  #errorExplanation ul {
    padding: 0 0 0 20px;
    margin: 0; }

.fieldWithErrors {
  font-size: 12px;
  color: #f68a00; }

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2); }

.button:hover {
  text-decoration: none; }

.button:active {
  position: relative;
  top: 1px; }

.button {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
  margin-bottom: 20px; }

.button:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015'); }

.button:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a'); }

.field {
  margin-bottom: 15px; }
  .field label {
    display: block;
    margin-bottom: 3px;
    font-size: 12px; }
  .field input {
    border-color: #e0e0e0;
    border-width: 2px;
    border-style: solid;
    padding: 3px;
    margin-bottom: 3px; }
  .field textarea {
    border-color: #e0e0e0;
    border-width: 2px;
    border-style: solid;
    padding: 3px;
    height: 180px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px; }

html, body, #pagewrap {
  height: 100%; }

body > #pagewrap {
  height: auto;
  min-height: 100%; }

#main {
  overflow: auto;
  padding-bottom: 40px; }

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

.win.ie8 #pagewrap {
  display: table; }

footer {
  position: relative;
  margin-top: -40px;
  height: 40px;
  clear: both;
  background: #e0e0e0; }
  footer #copyright {
    font-size: 11px;
    width: 970px;
    margin: auto;
    padding: 18px 0 0 0; }
