* {
  margin: 0;
  padding: 0; }

body {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color: #333333; }

header {
  display: block; }

nav {
  display: block; }

footer {
  display: block; }

ul {
  list-style: disc inside;
  padding-left: 10px; }

ol {
  list-style: decimal inside;
  padding-left: 10px; }

li {
  list-style-position: outside; }

a {
  outline: none;
  text-decoration: none; }
  a img {
    border: none;
    background: none; }

img {
  vertical-align: middle; }

table {
  border-collapse: collapse; }

textarea {
  resize: none; }

input:focus, textarea:focus {
  outline: none; }

.clear {
  clear: both; }

.clear_n_space {
  clear: both;
  height: 20px; }

.float_right {
  float: right; }

.float_left {
  float: left; }

.hidden {
  display: none; }

.bold {
  font-weight: bold; }

.unbold {
  font-weight: normal; }

.italic {
  font-style: italic; }

.unitalic {
  font-style: normal; }

.spacer {
  height: 30px; }

footer {
  position: relative;
  margin-top: -40px;
  height: 40px;
  clear: both;
  background: #e0e0e0; }
  footer #copyright {
    font-size: 11px;
    width: 970px;
    margin: auto;
    padding: 16px 0 0 0; }

html, body, #pagewrap {
  height: 100%; }

body > #pagewrap {
  height: auto;
  min-height: 100%; }

#main {
  overflow: auto;
  padding-bottom: 40px; }

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

.win.ie8 #pagewrap {
  display: table; }

p, li {
  margin: 0 0 10px 0; }

a {
  color: #c11440;
  text-decoration: underline;
  letter-spacing: 0.3px; }
  a:visited {
    color: #c11440; }
  a:hover {
    color: #c11440;
    text-decoration: none; }

h1 {
  font-size: 36px;
  letter-spacing: 1px; }

h2 {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 0 10px 0; }

h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  letter-spacing: 1px; }

h4 {
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 0.5px; }

.button {
  float: right;
  display: inline-block;
  background: #c11440;
  color: white !important;
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px 5px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  text-align: center;
  padding: 4px 12px;
  border-color: #c11440;
  border-width: 2px;
  border-style: solid; }
  .button:hover {
    background: #e0899f; }

#pagewrap {
  width: 970px;
  margin: auto; }
  #pagewrap header {
    padding: 85px 0 50px; }
    #pagewrap header h1 {
      width: 383px;
      height: 74px;
      background: url(/images/logo.png);
      text-indent: -9999px; }
  #pagewrap nav#utility {
    margin-top: 20px;
    float: right;
    font-size: 12px; }
  #pagewrap #art_board_wrapper {
    margin-bottom: 70px; }
    #pagewrap #art_board_wrapper #processing_canvas {
      width: 958px;
      height: 400px;
      border-color: #e0e0e0;
      border-width: 6px;
      border-style: solid;
      margin: 5px 0; }
    #pagewrap #art_board_wrapper #pause_play.button {
      padding: 4px 0;
      width: 80px; }
  #pagewrap .section {
    width: 298px;
    float: left;
    margin-right: 35px; }
    #pagewrap .section.last {
      margin-right: 0; }
    #pagewrap .section blockquote {
      color: #a7a7a7;
      font-size: 16px;
      margin: 25px 15px; }
      #pagewrap .section blockquote span {
        color: #c11440;
        font-size: 50px;
        font-weight: bold;
        display: inline-block; }
        #pagewrap .section blockquote span.open {
          vertical-align: -17px; }
    #pagewrap .section .project {
      margin-bottom: 10px; }
      #pagewrap .section .project h3 {
        font-size: 12px;
        letter-spacing: 1px;
        margin: 0; }
        #pagewrap .section .project h3 a {
          text-decoration: none; }
          #pagewrap .section .project h3 a:hover {
            text-decoration: underline; }
    #pagewrap .section .description {
      margin: 0; }
    #pagewrap .section .meta {
      font-size: 11px;
      color: #a7a7a7; }
      #pagewrap .section .meta a {
        color: #e0899f; }
